*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Serif Pro', serif;
}

.header{
    background-color: #283593;
    color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 45px;

}
.nav a{
    display: block;
    text-decoration: none;
    color: #FFF;
    transition: all 0.3s ease-out;
}
.nav{
    list-style: none;
    display: flex;
    
}
.nav li{
    margin-left: 20px;
    font-size: 20px;
}
.logo{
    font-size: 36px;
    
}
.nav a:hover{
    color: #c5cae9;
    transform: rotate(6deg);
}

.hero{
    background-color: #c5cae9;
    padding: 60px 45px;
    display: flex;
    justify-content: center;
    
}
.hero-inner{
    max-width: 760px;
}

.hero h1{
    font-weight: normal;
    font-size: 64px;
    margin-bottom: 20px;
}
.hero p{
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 20px;
}
.button{
    display: inline-block;
    font-size: 20px;
    background-color: #3949ab;
    color: #FFF;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;

}

.features{
    background-color: #e8eaf6;
    padding: 60px 45px;
}

.features-inner{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}
.featured-item h3{
    color: #283593;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}
.featured-item p{
    margin: 0;
    line-height: 1.6;
    color: #333;
}

.footer{
    text-align: center;
    padding: 20px 0;
    color: #999;
    font-size: 16px;
}